// images
$img-path: '../../dist/images/';

// colors
$color-light: #0088CC;
$color-dark: #292c2e;

$color-white: #fff;
$color-black: #000;

$color-grey: #9E9E9E;
$color-grey-dark: #424242;
$color-grey-light: #DDD;


// font
$font: 'Open Sans', 'sans-serif';
$font-size-base: 10px;
$font-size: 1rem;
$font-line-height:1.2;

//Margin and Padding
$margin-base:1rem;
$padding-base:1rem;

//BreakPoints
$bp-phone: max-width 480px;
$bp-tablet: 967px;
$bp-desktop: 1024px;

//Border
$border-radius-base:4px;

