.raised-button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 1.6rem;
  border: none;
  color: #fff;
  background-color: #0088CC;
  padding: 1.5rem;
  margin: 0;
  border-radius: 0;
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: .2s;
}
.raised-button:hover, .raised-button:active {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

.flat-button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 1.6rem;
  border: none;
  color: #292c2e;
  background-color: transparent;
  padding: 0.5rem;
  margin: 0;
  border-radius: 0;
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

i.md-effect, i.md-effect-light {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 50%;
}
