.card-item{
    width: 100%;
	margin-bottom: 3rem;
	border: 1px solid #ddd;
	transition: .2s;
	@media (min-width: 600px){
		lost-column:1/2;
	}
	@media (min-width: 900px){
		lost-column:1/3;
	}
	&:hover,&:active{
        box-shadow: $z-depth-24;
		background-color: #f3f3f3;
	}
}

	.card-item-midia{
        margin: 0;

        > img {
            max-width: 100%;
            height: auto;
        }
	}

	.card-item-icons{
		width: 100%;
		lost-flex-container:row;
        justify-content: space-around;
        align-items: center;
		padding: 1.5rem;

		> i {
			color: #e0e0e0;
			font-size: 2rem;
			cursor:default;
		}

		.design,
		.front-end,
		.responsivo,
		.wordpress{
			color: #424242;
		}
	}

	.card-item-action{
        padding: 1.5rem;
		border-top: 1px solid #ddd;
		text-align: right;
		text-transform: uppercase;
	}

