/*
*
*   Função em sass que gerar o componente
*
*/

// @mixin progress-bar-variant($nome-cor:"preto",$cor-barra:#000,$percento:20){
//     .progress-bar-#{$nome-cor}-#{$percento}{
//         position: absolute;
//         width:  $percento+#{"%"} ;
//         height: 100%;
//         background-color: $cor-barra;
//     }
// }

// .progress-label{
//     margin: 0 0 5px;
//     font-size: .8rem;
//     color: $color-grey-dark;
// }

// .progress{
//     background-color: #F3F3F3;
//     height: 30px;
//     width: 100%;
//     position: relative;
//     margin-bottom: 1rem;


//         @for $i from 1 to 10{

//             $valor-percento: 10 * $i;

//             @each $cor, $hex-cor, $valor-percento in    (verde,#2CC36B,$valor-percento),
//                                                         (azul,#2E8ECE,$valor-percento),
//                                                         (roxo,#9B50BA,$valor-percento),
//                                                         (amarelo,#F2CA26,$valor-percento),
//                                                         (vermelho,#D04233,$valor-percento),
//                                                         (laranja,#e67e22,$valor-percento),
//                                                         (rosa,#D2527F,$valor-percento),
//                                                         (marron,#795548,$valor-percento),
//                                                         (preto,#000,$valor-percento){

//                 @include progress-bar-variant($cor,$hex-cor,$valor-percento);

//             }


//         }
// }


// // Colors
// $barColor: $color-light;
// $overlayColor: $color-white;
// $backColor: $color-white;


// /* -------------------------------------
//  * Bar container
//  * ------------------------------------- */
// .progress-radial{
//     position: relative;
//     margin: 0 auto;
//     width: 140px;
//     height: 140px;
//     border: 2px solid $backColor;// remove gradient color
//     background-color: $barColor;// default 100%
//     border-radius: 50%;

//   .overlay{
//         position: absolute;
//         width: 70px;
//         height: 70px;
//         background-color: $overlayColor;
//         border-radius: 50%;
//         text-align: center;
//         left: 50%;
//     transform:translate(-50%);
//         top: 25%;
//         font-size: 1.5rem;
//         padding: 1rem 0;

//   }

// }

// /* -------------------------------------
//  * Mixin for progress-% class
//  * ------------------------------------- */

// $step: 5; // step of % for created classes

// $loops: round(100 / $step);
// $increment: 360 / $loops;
// $half: round($loops / 2);

// @for $i from 0 through $loops {
//   .progress-#{$i*$step}{
//         @if $i < $half {
//           $nextdeg: 90deg + ( $increment * $i );
//           background-image: linear-gradient(90deg, $backColor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $barColor 50%, $backColor 50%, $backColor);
//         }
//         @else {
//           $nextdeg: -90deg + ( $increment * ( $i - $half ) );
//           background-image: linear-gradient($nextdeg, $barColor 50%, transparent 50%, transparent), linear-gradient(270deg, $barColor 50%, $backColor 50%, $backColor);
//         }
//     }

// }



/*
*
*   Fim Função em sass que gerar o componente
*
*/







.progress-label {
  margin: 0 0 5px;
  font-size: .8rem;
  color: #424242;
}

.progress {
  background-color: #F3F3F3;
  height: 30px;
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
}
.progress .progress-bar-verde-10 {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #2CC36B;
}
.progress .progress-bar-azul-10 {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #2E8ECE;
}
.progress .progress-bar-roxo-10 {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #9B50BA;
}
.progress .progress-bar-amarelo-10 {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #F2CA26;
}
.progress .progress-bar-vermelho-10 {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #D04233;
}
.progress .progress-bar-laranja-10 {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #e67e22;
}
.progress .progress-bar-rosa-10 {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #D2527F;
}
.progress .progress-bar-marron-10 {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #795548;
}
.progress .progress-bar-preto-10 {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #000;
}
.progress .progress-bar-verde-20 {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #2CC36B;
}
.progress .progress-bar-azul-20 {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #2E8ECE;
}
.progress .progress-bar-roxo-20 {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #9B50BA;
}
.progress .progress-bar-amarelo-20 {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #F2CA26;
}
.progress .progress-bar-vermelho-20 {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #D04233;
}
.progress .progress-bar-laranja-20 {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #e67e22;
}
.progress .progress-bar-rosa-20 {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #D2527F;
}
.progress .progress-bar-marron-20 {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #795548;
}
.progress .progress-bar-preto-20 {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #000;
}
.progress .progress-bar-verde-30 {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: #2CC36B;
}
.progress .progress-bar-azul-30 {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: #2E8ECE;
}
.progress .progress-bar-roxo-30 {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: #9B50BA;
}
.progress .progress-bar-amarelo-30 {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: #F2CA26;
}
.progress .progress-bar-vermelho-30 {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: #D04233;
}
.progress .progress-bar-laranja-30 {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: #e67e22;
}
.progress .progress-bar-rosa-30 {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: #D2527F;
}
.progress .progress-bar-marron-30 {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: #795548;
}
.progress .progress-bar-preto-30 {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: #000;
}
.progress .progress-bar-verde-40 {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: #2CC36B;
}
.progress .progress-bar-azul-40 {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: #2E8ECE;
}
.progress .progress-bar-roxo-40 {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: #9B50BA;
}
.progress .progress-bar-amarelo-40 {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: #F2CA26;
}
.progress .progress-bar-vermelho-40 {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: #D04233;
}
.progress .progress-bar-laranja-40 {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: #e67e22;
}
.progress .progress-bar-rosa-40 {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: #D2527F;
}
.progress .progress-bar-marron-40 {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: #795548;
}
.progress .progress-bar-preto-40 {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: #000;
}
.progress .progress-bar-verde-50 {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #2CC36B;
}
.progress .progress-bar-azul-50 {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #2E8ECE;
}
.progress .progress-bar-roxo-50 {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #9B50BA;
}
.progress .progress-bar-amarelo-50 {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #F2CA26;
}
.progress .progress-bar-vermelho-50 {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #D04233;
}
.progress .progress-bar-laranja-50 {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #e67e22;
}
.progress .progress-bar-rosa-50 {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #D2527F;
}
.progress .progress-bar-marron-50 {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #795548;
}
.progress .progress-bar-preto-50 {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #000;
}
.progress .progress-bar-verde-60 {
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: #2CC36B;
}
.progress .progress-bar-azul-60 {
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: #2E8ECE;
}
.progress .progress-bar-roxo-60 {
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: #9B50BA;
}
.progress .progress-bar-amarelo-60 {
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: #F2CA26;
}
.progress .progress-bar-vermelho-60 {
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: #D04233;
}
.progress .progress-bar-laranja-60 {
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: #e67e22;
}
.progress .progress-bar-rosa-60 {
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: #D2527F;
}
.progress .progress-bar-marron-60 {
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: #795548;
}
.progress .progress-bar-preto-60 {
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: #000;
}
.progress .progress-bar-verde-70 {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #2CC36B;
}
.progress .progress-bar-azul-70 {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #2E8ECE;
}
.progress .progress-bar-roxo-70 {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #9B50BA;
}
.progress .progress-bar-amarelo-70 {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #F2CA26;
}
.progress .progress-bar-vermelho-70 {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #D04233;
}
.progress .progress-bar-laranja-70 {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #e67e22;
}
.progress .progress-bar-rosa-70 {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #D2527F;
}
.progress .progress-bar-marron-70 {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #795548;
}
.progress .progress-bar-preto-70 {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #000;
}
.progress .progress-bar-verde-80 {
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: #2CC36B;
}
.progress .progress-bar-azul-80 {
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: #2E8ECE;
}
.progress .progress-bar-roxo-80 {
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: #9B50BA;
}
.progress .progress-bar-amarelo-80 {
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: #F2CA26;
}
.progress .progress-bar-vermelho-80 {
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: #D04233;
}
.progress .progress-bar-laranja-80 {
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: #e67e22;
}
.progress .progress-bar-rosa-80 {
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: #D2527F;
}
.progress .progress-bar-marron-80 {
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: #795548;
}
.progress .progress-bar-preto-80 {
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: #000;
}
.progress .progress-bar-verde-90 {
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: #2CC36B;
}
.progress .progress-bar-azul-90 {
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: #2E8ECE;
}
.progress .progress-bar-roxo-90 {
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: #9B50BA;
}
.progress .progress-bar-amarelo-90 {
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: #F2CA26;
}
.progress .progress-bar-vermelho-90 {
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: #D04233;
}
.progress .progress-bar-laranja-90 {
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: #e67e22;
}
.progress .progress-bar-rosa-90 {
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: #D2527F;
}
.progress .progress-bar-marron-90 {
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: #795548;
}
.progress .progress-bar-preto-90 {
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: #000;
}

/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.progress-radial {
  position: relative;
  margin: 0 auto;
  width: 140px;
  height: 140px;
  border: 2px solid #fff;
  background-color: #0088CC;
  border-radius: 50%;
}
.progress-radial .overlay {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  top: 25%;
  font-size: 1.5rem;
  padding: 1rem 0;
}

/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */
.progress-0 {
  background-image: linear-gradient(90deg, #fff 50%, transparent 50%, transparent), linear-gradient(90deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-5 {
  background-image: linear-gradient(90deg, #fff 50%, transparent 50%, transparent), linear-gradient(108deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-10 {
  background-image: linear-gradient(90deg, #fff 50%, transparent 50%, transparent), linear-gradient(126deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-15 {
  background-image: linear-gradient(90deg, #fff 50%, transparent 50%, transparent), linear-gradient(144deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-20 {
  background-image: linear-gradient(90deg, #fff 50%, transparent 50%, transparent), linear-gradient(162deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-25 {
  background-image: linear-gradient(90deg, #fff 50%, transparent 50%, transparent), linear-gradient(180deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-30 {
  background-image: linear-gradient(90deg, #fff 50%, transparent 50%, transparent), linear-gradient(198deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-35 {
  background-image: linear-gradient(90deg, #fff 50%, transparent 50%, transparent), linear-gradient(216deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-40 {
  background-image: linear-gradient(90deg, #fff 50%, transparent 50%, transparent), linear-gradient(234deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-45 {
  background-image: linear-gradient(90deg, #fff 50%, transparent 50%, transparent), linear-gradient(252deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-50 {
  background-image: linear-gradient(-90deg, #0088CC 50%, transparent 50%, transparent), linear-gradient(270deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-55 {
  background-image: linear-gradient(-72deg, #0088CC 50%, transparent 50%, transparent), linear-gradient(270deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-60 {
  background-image: linear-gradient(-54deg, #0088CC 50%, transparent 50%, transparent), linear-gradient(270deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-65 {
  background-image: linear-gradient(-36deg, #0088CC 50%, transparent 50%, transparent), linear-gradient(270deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-70 {
  background-image: linear-gradient(-18deg, #0088CC 50%, transparent 50%, transparent), linear-gradient(270deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-75 {
  background-image: linear-gradient(0deg, #0088CC 50%, transparent 50%, transparent), linear-gradient(270deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-80 {
  background-image: linear-gradient(18deg, #0088CC 50%, transparent 50%, transparent), linear-gradient(270deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-85 {
  background-image: linear-gradient(36deg, #0088CC 50%, transparent 50%, transparent), linear-gradient(270deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-90 {
  background-image: linear-gradient(54deg, #0088CC 50%, transparent 50%, transparent), linear-gradient(270deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-95 {
  background-image: linear-gradient(72deg, #0088CC 50%, transparent 50%, transparent), linear-gradient(270deg, #0088CC 50%, #fff 50%, #fff);
}

.progress-100 {
  background-image: linear-gradient(90deg, #0088CC 50%, transparent 50%, transparent), linear-gradient(270deg, #0088CC 50%, #fff 50%, #fff);
}
