.about{
	text-align: center;
	background:transparent url($img-path/bg.jpg) fixed center no-repeat;
	background-size: cover;
	padding-bottom: 10%;
	height: 110%;
	min-height: 640px;

    > .wrap{
        height: 100%;
        justify-content:center;
        align-items:center;
    }
}
    .about-content{
        lost-flex-container:column;
    }

	.about-avatar{
		max-width: 50%;
		margin: 10% auto 0;
        @media (min-width: 600px) {
            max-width: 250px;
        }
	}
	.about-name{
		margin: 0 0 1rem;
		font-size: 4rem;
		color: $color-white;
		font-weight: bold;
	}
	.about-role{
		color: $color-white;
		font-size: 2rem;
		margin: 0 0 1rem;
	}

	.social-icons{
		width: 100%;
		margin: 0 0 1rem;

		.social-icons-link{
			color: #fff;
			font-size: 3rem;

			&:hover{
				color: $color-light;
				transition:.2s;
			}
		}
	}



.single-header{
	text-align: center;
	height: 360px;
}
