*,*:before,*:after{
	box-sizing:border-box;
}

html, body {
	height: 100%;
	font-size: $font-size-base;
}

body {
	font-family: $font;
	background-color: #DFDFDF;
}

a{
	text-decoration: none;
}

img{
	max-width: 100%;
}

.wrap{
	lost-center:1170px;
}
#colored-button a, 
#colored-button a:hover { background: #f00; }