*,*:before,*:after{
    box-sizing:border-box;
}
html{
    font-size: 62.5%;
}
html, body {
    height: 100%;
}
body {
    font-family: $font;
    font-size: $font-size;
    background-color: #DFDFDF;
}

main{
    margin-top: -3rem;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

section{
    background-color: $color-white;
    margin-bottom: 2rem;
    box-shadow: $z-depth-2;
}

.wrap{
    width: 100%;
    lost-center:1280px;
    lost-flex-container:row;
    padding: 3rem;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-title{
    display: block;
    width: 100%;
    margin: 2rem 0;
    font-size: 1.8rem;

    h1{
        display: inline-block;
        margin: 0;
        color: $color-grey-dark;
        text-transform: uppercase;
    }
}





